# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform plans
*.tfplan

# Crash logs
crash.log

# Sensitive variables
*.tfvars
*.tfvars.json

# macOS
.DS_Store

# VS Code
.vscode/

